#header {
  background-color: #d3d3d3;
  overflow: hidden;
  width: 100%;
  min-height: 50px; /* Remember absolute positioning is outside the page flow! */
  position: relative;
}

#iitbhu {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 50px;
  height: 50px
}
#intro_text {
  margin: 0 auto;
  text-align: center;
  padding-top: 10px;
  width: 300px;
  font-size: 150%;
}
#cops {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px
}

#game-header {
    width:100%;
    position: fixed;
}

#lives {
  display: inline-block;
  padding-left: 5px;
  position: absolute;
  left: 5px;
}

#timer {
  font-size: 160%;
  display: inline-block;
  position: absolute;
  right: 20px;
}

#question {
  font-size: 120%;
  padding-left: 10px;
}
